* {
  font-family: 'Open Sans', sans-serif; }

html, body {
  background-color: #f5f8f9;
  height: 100%;
  margin: 0;
  padding: 0; }

#login {
  background: url("../assets/fullscreen_bg_image.jpg") no-repeat;
  background-size: 100% 100%;
  height: 100%; }
  #login app-login {
    display: flex;
    height: 100%;
    justify-content: center; }
    #login app-login .wrapper-login {
      margin-top: 180px;
      max-height: 490px;
      padding: 24px 60px;
      width: 500px; }
      #login app-login .wrapper-login .login-head {
        border-bottom: 1px solid #a8b8c4;
        margin-bottom: 40px; }
        #login app-login .wrapper-login .login-head h5 {
          margin: 30px 0; }
      #login app-login .wrapper-login .login-body .input-field {
        margin: 0; }
        #login app-login .wrapper-login .login-body .input-field input {
          border-bottom: 1px solid #a8b8c4;
          margin-bottom: 40px; }
        #login app-login .wrapper-login .login-body .input-field input[type=text]:focus:not([readonly]) + label {
          color: #a8b8c4; }
        #login app-login .wrapper-login .login-body .input-field input[type=text]:focus {
          border-bottom: 1px solid #a8b8c4;
          box-shadow: none; }
        #login app-login .wrapper-login .login-body .input-field:last-child input {
          margin-bottom: 35px; }
      #login app-login .wrapper-login .login-body .terms p {
        color: #a8b8c4;
        margin: 0; }
        #login app-login .wrapper-login .login-body .terms p a {
          cursor: pointer; }
      #login app-login .wrapper-login .login-body .login-btn {
        margin-top: 30px; }
        #login app-login .wrapper-login .login-body .login-btn button {
          background-color: #007ee5;
          margin-bottom: 16px;
          width: 100%; }
          #login app-login .wrapper-login .login-body .login-btn button a {
            color: white; }

@media screen and (max-width: 600px) {
  #login app-login .wrapper-login {
    margin: 0;
    max-height: 100%;
    padding: 24px 50px; }
    #login app-login .wrapper-login .login-head {
      border: 0; }
    #login app-login .wrapper-login .login-body {
      margin-top: 6rem; }
      #login app-login .wrapper-login .login-body .login-btn {
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%; }
        #login app-login .wrapper-login .login-body .login-btn button {
          margin-bottom: 0; } }

#dashboard .wrapper-dashboard {
  max-width: 1180px;
  padding-top: 70px;
  margin: 0 auto; }
  #dashboard .wrapper-dashboard .dashboard-profile {
    background-color: white;
    padding: 25px 25px 0 25px; }
    #dashboard .wrapper-dashboard .dashboard-profile .come-back {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px; }
      #dashboard .wrapper-dashboard .dashboard-profile .come-back button {
        background-color: transparent;
        border: 1px solid #007ee5;
        color: #007ee5;
        text-transform: uppercase;
        font-weight: 600; }
    #dashboard .wrapper-dashboard .dashboard-profile .dashboard-info {
      display: flex;
      flex-wrap: wrap; }
      #dashboard .wrapper-dashboard .dashboard-profile .dashboard-info .info-image {
        height: 170px;
        overflow: hidden;
        position: relative;
        width: 170px;
        margin-bottom: -34px;
        z-index: 1; }
        #dashboard .wrapper-dashboard .dashboard-profile .dashboard-info .info-image .bg-image {
          background: url("../assets/profile_image.jpg") no-repeat;
          background-size: cover;
          background-position: center;
          height: 100%;
          left: -25px;
          position: absolute;
          top: 25px;
          width: 100%;
          transform: scale(1.2);
          -moz-transform: scale(1.2);
          -webkit-transform: scale(1.2);
          -o-transform: scale(1.2);
          -ms-transform: scale(1.2); }
      #dashboard .wrapper-dashboard .dashboard-profile .dashboard-info .info-detail {
        margin-left: 25px;
        margin-right: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end; }
        #dashboard .wrapper-dashboard .dashboard-profile .dashboard-info .info-detail i {
          font-size: 18px;
          margin-right: 10px; }
        #dashboard .wrapper-dashboard .dashboard-profile .dashboard-info .info-detail .info-phone {
          margin-bottom: 1rem; }
      #dashboard .wrapper-dashboard .dashboard-profile .dashboard-info .info-upload i {
        color: #d0dce7;
        margin-right: 15px; }
      #dashboard .wrapper-dashboard .dashboard-profile .dashboard-info .info-upload button {
        background: transparent;
        box-shadow: none;
        border: 1px solid #aab2b8;
        color: #aab2b8; }
      #dashboard .wrapper-dashboard .dashboard-profile .dashboard-info .info-stars {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        flex-grow: 1; }
        #dashboard .wrapper-dashboard .dashboard-profile .dashboard-info .info-stars i {
          color: #727e88;
          cursor: pointer;
          font-size: 22px; }
          #dashboard .wrapper-dashboard .dashboard-profile .dashboard-info .info-stars i:hover {
            opacity: 0.8; }
        #dashboard .wrapper-dashboard .dashboard-profile .dashboard-info .info-stars p {
          color: #727e88;
          margin-left: 30px; }
  #dashboard .wrapper-dashboard .dashboard-tabs {
    align-items: flex-start;
    background-color: white;
    height: 60px;
    margin: 0;
    padding-left: 210px;
    position: relative;
    margin-bottom: 35px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2); }
    #dashboard .wrapper-dashboard .dashboard-tabs .tabs {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: 100%; }
      #dashboard .wrapper-dashboard .dashboard-tabs .tabs .tab {
        flex-grow: 0; }
        #dashboard .wrapper-dashboard .dashboard-tabs .tabs .tab a {
          color: #595e62;
          font-weight: 600; }
      #dashboard .wrapper-dashboard .dashboard-tabs .tabs .indicator {
        background-color: #028dfe; }
    #dashboard .wrapper-dashboard .dashboard-tabs .follow {
      color: #a6b0b7;
      position: absolute;
      right: 16px;
      top: 20px; }
      #dashboard .wrapper-dashboard .dashboard-tabs .follow i {
        font-size: 20px;
        line-height: 18px;
        margin-right: 5px; }
  #dashboard .wrapper-dashboard .dashboard-detail {
    background-color: white;
    padding: 45px 40px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2); }
    #dashboard .wrapper-dashboard .dashboard-detail h5 {
      color: #727e88; }
    #dashboard .wrapper-dashboard .dashboard-detail .detail-item {
      display: flex;
      position: relative; }
      #dashboard .wrapper-dashboard .dashboard-detail .detail-item .item {
        background-color: #f5f8f8;
        display: inline-block;
        height: 35px;
        margin-bottom: 2px;
        padding: 7px 10px; }
        #dashboard .wrapper-dashboard .dashboard-detail .detail-item .item.name {
          font-weight: bold;
          font-size: 16px; }
      #dashboard .wrapper-dashboard .dashboard-detail .detail-item .item-edit {
        background-color: #ecf1f5;
        cursor: pointer;
        display: inline-block;
        height: 35px;
        padding: 6px 15px; }
        #dashboard .wrapper-dashboard .dashboard-detail .detail-item .item-edit i {
          color: #727e88; }
        #dashboard .wrapper-dashboard .dashboard-detail .detail-item .item-edit:hover {
          background-color: #007ee5; }
          #dashboard .wrapper-dashboard .dashboard-detail .detail-item .item-edit:hover i {
            color: white; }
      #dashboard .wrapper-dashboard .dashboard-detail .detail-item .dropdown-detail {
        background-color: white;
        display: none;
        left: 220px;
        position: absolute;
        padding: 10px 15px;
        top: 0;
        z-index: 5;
        -webkit-box-shadow: 0px 0px 46px 2px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 46px 2px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 46px 2px rgba(0, 0, 0, 0.5); }
        #dashboard .wrapper-dashboard .dashboard-detail .detail-item .dropdown-detail.active {
          display: block; }
        #dashboard .wrapper-dashboard .dashboard-detail .detail-item .dropdown-detail:before {
          content: ' ';
          display: inline-block;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-right: 10px solid white;
          margin-left: -25px;
          position: absolute; }
        #dashboard .wrapper-dashboard .dashboard-detail .detail-item .dropdown-detail h5 {
          color: #CBCFCE;
          font-size: 14px;
          text-transform: uppercase; }
        #dashboard .wrapper-dashboard .dashboard-detail .detail-item .dropdown-detail input {
          border-bottom: 1px solid #D4D8DB; }
      #dashboard .wrapper-dashboard .dashboard-detail .detail-item span {
        color: #a8b8c4;
        margin-right: 5px; }
